@import "compass/css3";

body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;

  #main {
    width: 680px;
  }

  h1, h2, h3 {
    text-align: center;
  }
  h2 {
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .logo {
    font-family: 'Handlee', cursive;
    font-size: 96px;
    margin-bottom: 48px;
  }

  #footer {
    margin-top: 48px;
  }
}

a {
  color: #00B7FF;
}

p {
  font-size: 18px;
}
