{% extends '../layouts/application.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="logo">Compass</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
        <button class="btn btn-default btn-success" type="button">Sign up</button>
      </span>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="capture">
      All the requirements to get </br>
      into medical school in one place
    </h2>
    <h2>How It Works</h2>
    <p>
      We'll find out what you need to know to be admitted to
      the medical school of your choice.
      We'll present requirements like admission date, MCAT score, average GPA,
      tuition
    </p>

    <h2>Screenshots</h2>
    <img class="img-responsive" src="http://i.imgur.com/5foOFDc.png" alt="..." width="680">
    <img class="img-responsive" src="http://i.imgur.com/7cWQrHH.png" alt="..." width="680">

    <h2>Launching soon</h2>
    <p>
      We are actively developing Compass to bring it
      to public as soon as possible.
      Please sign up with your email.
      We'll email you when we launch.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
        <button class="btn btn-default btn-success" type="button">Sign up</button>
      </span>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-12" id="footer">
    <p>Created by Jason Kim</p>
  </div>
</div>
{% endblock %}
